<!DOCTYPE html>
<html>
<head>
    <title>My site</title>
    <meta name="dj4e-code" content="42160029469674">
</head>
<body>
    <ul>
        <li><p><a href="/polls">A Polls Application</a></p></li>
        <li><p><a href="/hello">Test the session</a></p>
        <li><p><a href="/autos">Autos CRUD</p></a>
        <li><p><a href="/cats">Cats CRUD</p></a>
        <li><p><a href="/ads">Ads CRUD</a></p></li>
    </ul>
        <img src="localhost:8000/ads/ad_picture/5" width="120px" alt="aaa">
</body>
</html>
